{%extends 'base.html.twig'%}
{%block body%}
<div class="container-fluid">
  <div class="row">
    {%for entreprise in listeEntreprises%}
    <div class="col-md-4 col-xs-1 mx-auto">
      <div class="card">
        <img src="http://lorempixel.com/200/200/" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{entreprise.nom}}</h5>
          <p class="card-text"> contact : {{entreprise.contact}}<br> tel : {{entreprise.numTel}}</p>
        </div>
      </div>
    </div>
{%endfor%}
  </div>

</div>
{%endblock%}
